{% extends "layout.html" %}
{% block content %}
    <h1>About us</h1>
<p>A site or website is a central location of web pages that are related and accessed by visiting the home page of the website using a browser. For example, the Computer Hope website address URL (Uniform Resource Locator) is https://www.computerhope.com. From our home page, you could get access to any of the web pages (like this one) contained on our website. The image shows how the Computer Hope website looked in 2021.</p>

<p>To view a website requires a browser (e.g., Internet Explorer, Edge, Safari, Firefox, or Chrome). For example, you are reading this web page using a browser. Once in a browser, you can open a website by entering the URL in the address bar. For example, typing "https://www.computerhope.com" opens the Computer Hope home page. If you don't know the URL of the website you want to visit, you can use a search engine to find the website on the Internet.</p>
{% endblock content %}