<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
     <style>
        header{
            background-color:orange;
            text-align:center;
            border: 2px solid black;
            color:white;
            }
        .content{
            background-color:yellow;
            text-align:center;
            border: 2px solid black;
            height: 70vp;
            }
        footer{
            background-color:blue;
            text-align:center;
            border: 2px solid black;
            color:red;
            }

    </style>
</head>
<body>
<header><center><h1>Pages</h1></center></header>
<div class="content">
    {% block content %} Nasa Recovers the most unamorable planet kepler 164 {% endblock %}
</div>
<footer><center><h3>@&CopyRights</h3></center></footer>
</body>
</html>